.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.joke_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    
}

.joke_container img{
    margin: 1rem 0;
}

.joke_container h1{
    font-size: 1rem;
}

.home_container button{
    border: none;
    padding: .5rem;
    background-color: rgb(173, 4, 4);
    cursor: pointer;
    border-radius: 0.25rem;
    color:#fff;
}